/* ============================================================
   Fake shell UI (index.html only)
   ============================================================ */

#source {
  left: -1000px;
  position: absolute;
}

#liner::before {
  content: "nvim-anywhere@user";
}

#terminal {
  padding: 15px 20px;
  min-width: 550px;
}

p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.05em;
  animation: typing 0.8s steps(30, end);
}

.cursor {
  font-size: 12px;
  color: #73ABAD;
  background-color: #73ABAD;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.loading::before {
  content: "⠋ ";
  animation: spin 0.5s infinite;
}

@keyframes spin {
  0% {
    content: "⠋ ";
  }

  25% {
    content: "⠹ ";
  }

  50% {
    content: "⠼ ";
  }

  75% {
    content: "⠦ ";
  }
}
